<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coming.cellprojectmanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />
    <uses-permission 
        android:name="android.permission.INTERNET" />
     
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".actividades.Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividades.Login"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".actividades.GestionarTareas"
            android:label="@string/title_activity_gestionar_tareas"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".actividades.GestionarAcontecimientos"
            android:label="@string/title_activity_gestionar_acontecimientos"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".actividades.SeleccionarSitio"
            android:label="@string/title_activity_seleccionar_sitio"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".actividades.SeleccionarEstado"
            android:label="@string/title_activity_seleccionar_estado"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".actividades.OpcionesDeAcontecimiento"
            android:label="@string/title_activity_opciones_de_acontecimiento"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".actividades.OpcionesDeTarea"
            android:label="@string/title_activity_opciones_de_tareas"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".actividades.VerAcontecimiento"
            android:label="@string/title_activity_ver_acontecimiento"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".actividades.NuevoAcontecimiento"
            android:label="@string/title_activity_nuevo_acontecimiento"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".actividades.VerDetalleTarea"
            android:label="@string/title_activity_ver_tarea"
            android:screenOrientation="portrait" >
        </activity>
        
    </application>

</manifest>